absl-py==2.5.0
annotated-types==0.8.0
anyio==4.14.2
astunparse==1.6.3
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.1
click==8.4.2
colorama==0.4.6
cryptography==50.0.0
fastapi==0.109.0
flatbuffers==25.12.19
gast==0.7.0
google-auth==2.56.3
google-auth-oauthlib==1.4.0
google-pasta==0.2.0
grpcio==1.83.0
h11==0.16.0
h5py==3.16.0
idna==3.19
keras==3.5.0
libclang==18.1.1
Markdown==3.10.3
markdown-it-py==4.2.0
MarkupSafe==3.0.3
mdurl==0.1.2
ml-dtypes==0.4.1
namex==0.1.0
numpy==1.26.4
oauthlib==3.3.1
opt_einsum==3.4.0
optree==0.19.1
packaging==26.3
pillow==11.0.0
protobuf==4.25.9
pyasn1==0.6.4
pyasn1_modules==0.4.2
pycparser==3.0
pydantic==2.11.0a2
pydantic_core==2.29.0
Pygments==2.21.0
python-multipart==0.0.6
requests==2.34.2
requests-oauthlib==2.0.0
rich==15.0.0
six==1.17.0
starlette==0.35.1
tensorboard==2.17.1
tensorboard-data-server==0.7.2
tensorflow==2.17.1
tensorflow-estimator==2.15.0
tensorflow-intel==2.17.1
tensorflow-io-gcs-filesystem==0.31.0
termcolor==3.3.0
typing_extensions==4.16.0
urllib3==2.7.0
uvicorn==0.27.0
Werkzeug==3.1.8
wrapt==1.14.2
keras==3.5.0
tensorflow==2.17.1
numpy==1.26.4
Pillow==11.0.0
fastapi==0.109.0
uvicorn==0.27.0
pydantic==2.11.0a2
